.bg {
   background-image: url(../../assets/img/404Error.gif);
   height: 65vh;
   background-repeat: no-repeat;
   background-position: center;
   z-index: 0;
   height: 60vh;
}

.Error {
   font-size: 9vh;
   font-weight: bolder;
   align-items: center;
   display: flex;
   justify-content: center;
}

.text-btn{
   text-align: center;
   height: 20vh;
}
.text{
   margin-bottom: 3vh;
}
.btn{
   background-color: rgb(109, 255, 25);
   padding: 10px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   border-radius: 5vh;
   font-weight: bold;
   color: rgb(238, 238, 238);
} 